@import "../../scss/variables.scss";

.equiptment {
  background-color: $beige;
  @media (min-width: 320px) {
    padding: 1em 2em;
  }

  @media (min-width: 500px) {
    padding: 1em 3em;
  }

  @media (min-width: 768px) {
    padding: 1em 4em;
  }

  h2 {
    border-bottom: 2px solid $dark-blue;
    color: $dark-blue;
    text-transform: uppercase;
    @media (min-width: 320px) {
      padding-top: 2.5em;
    }
    @media (min-width: 600px) {
      padding-top: 2.2em;
    }
  }

  hr {
    color: $dark-blue;
  }
}

.gear_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // flex-wrap: wrap;

  &__1 {
    display: flex;

    @media (min-width: 320px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (min-width: 768px) {
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 2em;
    }
  }

  &__2 {
    display: flex;
    justify-content: space-around;
    @media (min-width: 320px) {
      flex-wrap: wrap;
    }
    @media (min-width: 500px) {
      flex-wrap: nowrap;
    }
  }

  li {
    list-style: none;
    line-height: 1.7em;
    color: $dark-blue;
  }

  li:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.03);
  }
}

.gear {
  text-align: center;
  @media (min-width: 320px) {
    width: 70vw;
    padding-bottom: 1em;
  }

  @media (min-width: 500px) {
    width: 40vw;
  }
}

.title {
  margin-bottom: 2em;
}

h4 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3rem;
  // @media(min-width: 600px) {
  //   height: 3.2em;
  // } ERIC DO U LIKE THIS
}
