@import "../../scss/variables.scss";

.photos {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: $dark-blue;

  @media (min-width: 320px) {
    padding: 0em 0.5em;
    height: 60vh;
  }
  @media (min-width: 425px) {
    height: 70vh;
  }

  @media (min-width: 500px) {
    padding: 0em 1em;
    height: 80vh;
  }

  @media (min-width: 638px) {
    height: 90vh;
  }

  @media (min-width: 700px) {
    height: 100vh;
  }

  @media (min-width: 768px) {
    padding: 0 2em;
  }
}

.carousel {
  display: flex;
  justify-content: center;
}

.carousel-inner {
  width: auto;
}

.photos h2 {
  /* color: rgb(194, 96, 4); */
  // color: #e6980b;
  color: $orangeish;

  @media (min-width: 320px) {
    padding-bottom: 1em;
    margin-left: 1em;
  }

  @media (min-width: 830px) {
    padding-bottom: 0em;
  }
}

.photos img {
  height: 80vh;

  @media (min-width: 320px) {
    // width:90vw;
    // height:50vh;
    // object-fit: contain;
    max-width: 100%;
    height: auto;
  }
  @media (min-width: 830px) {
    height: 80vh;
    max-width: auto;
  }
  /* 
  @media(min-width: 800px) {
    width:80vw;
    height:auto;
  } */
}
