@import "../../scss/variables.scss";

.photos {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: $dark-blue;

  @media (min-width: 320px) {
    height: 60vh;
  }
  @media (min-width: 425px) {
    height: 70vh;
  }

  @media (min-width: 500px) {
    height: 80vh;
  }

  @media (min-width: 638px) {
    height: 90vh;
  }

  @media (min-width: 700px) {
    height: 100vh;
  }
}

.carousel {
  display: flex;
  justify-content: center;
  @media (min-width: 320px) {
    padding: 0em 0.5em;
  }

  @media (min-width: 500px) {
    padding: 0em 1em;
  }
  @media (min-width: 768px) {
    padding: 0 2em;
  }
}

.carousel-inner {
  width: auto;
}

.photos h2 {
  color: $seafoam;

  @media (min-width: 320px) {
    margin-left: 1em;
    padding: 3.5em 0 1em;
  }

  @media (min-width: 600px) {
    margin-left: 2em;
    padding-top: 2.5em;
  }

  @media (min-width: 830px) {
    padding-bottom: 0em;
  }
}

.photos img {
  // height: 80vh;
  @media (min-width: 320px) {
    height: auto;
    max-width: 100%;
  }
  @media (min-width: 830px) {
    height: 80vh;
    max-width: auto;
  }
}
