.references {
  // height: 100vh;
  padding: 1em 4em;

  h2 {
    padding: 2em 0 1em;
  }

  h5 {
    padding: 0 1em;
    font-size: 1em;
  }
}

.references_menu {
  display: flex;
  justify-content: right;
}

.references_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reference {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 26vw;
  margin: 1em;
  padding: 1em;
}
.reference:hover {
  background-color: rgba(223, 219, 219, 0.568);
  box-shadow: 1px 1px 5px 0px rgba(165, 163, 163, 0.856);
}
.reference_description {
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.reference_image {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin-bottom: 1em;
}

h5:hover,
.chosen {
  font-weight: bold;
}
