@import "../../scss/variables.scss";

.references {
  min-height: 100vh;
  background-color: $dark-blue;
  @media (min-width: 320px) {
    padding: 1em 0em;
  }

  @media (min-width: 500px) {
    padding: 1em 3em;
  }

  @media (min-width: 768px) {
    padding: 1em 4em;
  }

  h2 {
    @media (min-width: 320px) {
      padding: 2.5em 1em 1em;
      text-transform: uppercase;
      color: $seafoam;
    }
    @media (min-width: 600px) {
      padding: 2em 0em 1em;
    }
  }

  h5 {
    padding-right: 1em;
    font-size: 1em;
    text-transform: uppercase;
    color: $seafoam;
  }

  hr {
    background-color: $seafoam;
  }
}

.references_menu {
  display: flex;
  justify-content: right;
  border-bottom: 2px solid $seafoam;

  @media (min-width: 320px) {
    padding-left: 2em;
  }
  @media (min-width: 600px) {
    padding-left: 0em;
  }
}

.references_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reference {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 26vw;
  padding: 1em;
  text-align: center;
  color: $beige;

  @media (min-width: 320px) {
    width: 90vw;
    margin: 1em;
  }

  @media (min-width: 425px) {
    width: 45vw;
    margin: 0.5em;
  }

  @media (min-width: 500px) {
    width: 40vw;
    margin: 0em;
  }

  @media (min-width: 768px) {
    // width: 30vw;
  }
}

// .reference:hover {
//   background-color: rgba(223, 219, 219, 0.568);
//   box-shadow: 1px 1px 5px 0px rgba(165, 163, 163, 0.856);
// }
.reference_description {
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.reference_image {
  // object-fit: fill;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin-bottom: 1em;

  @media (min-width: 320px) {
    width: 12em;
    height: 12em;
  }
  // @media (min-width: 425px) {
  //   width: 10em;
  //   height: 10em;
  // }
  @media (min-width: 768px) {
    width: 15em;
    height: 15em;
  }
}

h5:hover,
.chosen {
  font-weight: bold;
}
