.home {
  width: 100vw;
  /* height:100vh; */
  padding: 0 5em;
  /* background: rgb(87,82,175); */
  background: linear-gradient(
    264deg,
    rgba(87, 82, 175, 1) 0%,
    rgba(9, 121, 109, 1) 30%,
    rgba(49, 161, 184, 1) 100%
  );
}
.intro {
  width: 100vw;
  height: 100vh;
  background-image: url("../../photos/control_room_3.JPG");
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
