@import "../../scss/variables.scss";

.home {
  width: 100vw;
  // /* height:100vh; */
  height: 100vh;
  //padding: 0 5em;
  /* background: rgb(87,82,175); */
  // background: linear-gradient(
  //   264deg,
  //   rgba(87, 82, 175, 1) 0%,
  //   rgba(9, 121, 109, 1) 30%,
  //   rgba(49, 161, 184, 1) 100%
  // );
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: $dark-blue;

  h3 {
    z-index: 3;
    color: $beige;
  }

  .images {
    position: relative;
  }
  .images > img {
    width: 100vw;
    height: 100vh;
    // object-fit: contain;
    position: absolute;
    z-index: 2;

    top: 0;
    left: 0;
  }
  .images > img:first-child {
    width: 100vw;
    height: 100vh;
    //cover if smaller screen
    object-fit: cover;
    opacity: 0.8;
  }

  .images > img:last-child {
    @media (min-width: 320px) {
      object-fit: contain;
    }

    @media (min-width: 768px) {
      //  padding-top: 13em;
      //    object-fit: cover;
    }
  }
}
