@import "../../scss/variables.scss";

.contacts {
  height: 100vh;
  width: 100vw;
  display:flex;
  flex-direction: column;
  background-color: $dark-blue;
  color: $blue-light;
  /* align-items: center; */
  @media(min-width: 320px) {
    padding: 2em;
  }

  @media(min-width: 500px) {
    padding: 3em;
  }
  @media(min-width: 768px) {
    padding: 4em;
  }
}

.contacts h2 {
  margin: 2em 0 1em;
  text-transform: uppercase;
  color: $orangeish;
}

.contact_box {
  display:flex;
  margin-bottom:1.5em;

  @media(min-width: 320px) {
    flex-direction: column;
    align-items: center;
  }
  @media(min-width: 500px) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.contact_box a {
  font-size: 2em;
}

.contact-email {
  display:flex;
  flex-direction: column;
  align-items: center;

  a {
    color: $beige;
  }
}


.follow{
  display:flex;
  flex-direction: column;
  align-items: center; 

  h4 {
    font-size: 1em;
  }
}

.icons {
  color: $beige;
  display: flex;
  justify-content:space-between;
  @media(min-width: 320px) {
    font-size: 1em;
  }

  @media(min-width: 500px) {
    font-size: 3em;
  }
  /* flex-direction: column;
  align-items: center; */
}

.icons div {
  margin: 0 1em;
}

.prices {
}