* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

/* 
.header form {
    z-index: 2;

}; */

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(87,82,175);
  background: linear-gradient(264deg, rgba(87,82,175,1) 0%, rgba(9,121,109,1) 30%, rgba(49,161,184,1) 100%);
  width: 100vw;
  height: 10vh;
  top: 0;
  left: 0;
  position: fixed;
  margin-bottom: 1em;
  z-index: 1;
 

  /* img {
    position:fixed;
    left:0;
    top:0;
    width:5vw;
    height:auto;
  } */

}

  nav a {
    text-decoration: none;
    color: white;  
    margin: 0 1.5em;  
    text-transform: uppercase;
    letter-spacing: 0;
  }

  .nav-links {
    /* display:flex; 
    justify-content:space-evenly; */
  }

  .nav-icons {
    font-size: 1.3em;
  }

  .nav-icons .fab {
    /* margin:0 .5em; */
  }








.lang_range{
  position: fixed;
  top: 1.5em;
  left: 0;
  font-size: 0.8em;
}



.range{
  width: 3em;
  color: linear-gradient(264deg, rgba(87,82,175,1) 0%, rgba(9,121,109,1) 30%, rgba(49,161,184,1) 100%);
}


