$blue: #264653;
$salmon: #e76f51;
$turquoise: #2a9d8f;
$yellow: #e9c46a;

$orange: #dd6e42;
$beige: #e8dab2;
$blue-grey: #4f6d7a;
$light-blue: #c0d6df;
$grey: #eaeaea;

$dark-blue: #293241;
$blue-blue: #3d5a80;
$blue-light: #98c1d9;
$sky-blue: #e0fbfc;
$orangeish: #ee6c4d;

$red: #e7372a;
// $seafoam: #90be6d;
// $seafoam: #ee6c4d;
//  $seafoam: #DD6E42;
$seafoam: white;

$seafoam-2: #aeda8d;

// background: rgb(2,0,36);
// background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(38,83,59,1) 100%, rgba(0,212,255,1) 100%);

// background: rgb(155,155,157);
// background: linear-gradient(90deg, rgba(155,155,157,1) 0%, rgba(38,83,59,1) 100%, rgba(0,212,255,1) 100%);

// background: rgb(38,70,83);
// background: linear-gradient(90deg, rgba(38,70,83,1) 0%, rgba(232,218,178,1) 100%, rgba(0,212,255,1) 100%);
