$blue: #264653; 
$salmon: #E76F51;
$turquoise: #2A9D8F;
$yellow: #E9C46A;


$orange: #DD6E42;
$beige: #E8DAB2;
$blue-grey: #4F6D7A;
$light-blue: #C0D6DF;
$grey: #EAEAEA;

$dark-blue: #293241;
$blue-blue: #3d5a80;
$blue-light: #98c1d9;
$sky-blue: #e0fbfc;
$orangeish: #ee6c4d;

$red: #e7372a;
$seafoam: #90be6d;
$seafoam-2: #aeda8d;


